{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class='container'>
        <h1>Admin page</h1>
        <button>
            <a href='/game/create'>Create game</a>
        </button>
        <button>
            <a href='/offers/create'>Create game</a>
        </button>
    </div>
{% endblock %}
