{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h1>{{controller_name}}</h1>
    <div class='container'>
        <table class='table table-bordered border-dark'>
            <tr>
                <td>id</td>
                <td>Games</td>
                <td>Action</td>
            </tr>
                {% for game in games %}
                    <tr>
                        <td>{{game.id}}</td>
                        <td>{{game.name}}</td>
                        <td>
                            <form action='/game/delete/{{game.id}}'>
                                <input type='submit' value='Delete'/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <form action='game/create'>
            <input type='submit' value='Create new game'/>
        </form>
        <form action='offers'>
            <input type='submit' value='Go to Offers Page'/>
        </form>
        <form action='game/deleteall'>
            <input type='submit' value='Delete All'/>
        </form>
    </div>
{% endblock %}

